ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/* font-family: "Raleway", sans-serif; */

/* #region header */
.page-header {
}

.page-nav {
}

.main-logo {
}

.nav-list {
}

.nav-list-item {
}

.nav-link {
}

.header-address {
}

.header-address-list {
}

.header-address-item {
}

.header-address-link {
}
/* #endregion header */

/* #region Hero section */
.section-hero {
}

.hero-title {
}

.hero-btn {
}
/* #endregion Hero section */

/* #region Values section */
.values {
}

.values-title {
}

.values-list {
}

.values-item {
}

.values-item-title {
}

.values-item-text {
}
/* #endregion Values section */

/* #region Team section */
.team {
}

.team-title {
}

.team-list {
}

.team-item {
}

.team-img {
}

.team-member-name {
}

.team-member-role {
}
/* #endregion Team section */

/* #region Portfolio section */
.portfolio {
}

.portfolio-title {
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-img {
}

.portfolio-item-title {
}

.portfolio-item-categori {
}
/* #endregion Portfolio section */

/* #region Footer */
.footer {
}

.footer-logo {
}

.footer-text {
}
/* #endregion Footer */
